@{
    if (!WebSecurity.IsAuthenticated) 
    { 
        Response.Redirect("~/default"); 
    } 
 
    var currentPassword = ""; 
    var newPassword1 = ""; 
    var newPassword2 = ""; 
    
    if(IsPost) 
    {
        currentPassword = Request["currentPassword"]; 
        newPassword1 = Request["newPassword1"]; 
        newPassword2 = Request["newPassword2"]; 
         
        // Validation 
        if (currentPassword.IsEmpty()) { 
            ModelState.AddError("currentPassword", "Не введен текущий пароль"); 
        } 
         
        if (newPassword1.IsEmpty()) { 
            ModelState.AddError("newPassword1", "Не введен новый пароль"); 
        } 
         
        if (newPassword2.IsEmpty()) { 
            ModelState.AddError("newPassword2", "Не введено подтверждение нового пароля"); 
        } 
         
        if(newPassword1 != newPassword2) 
        { 
            ModelState.AddError("newPassword1", "Введенные пароли не совпадают"); 
        } 
         
        // Attempt password change 
        if(ModelState.IsValid) 
        { 
            var currentUser = WebSecurity.CurrentUserName;
            if(WebSecurity.ChangePassword(currentUser, currentPassword, newPassword1)) 
            { 
                Response.Redirect("~/default"); 
            } 
            else 
            { 
                ModelState.AddFormError("Невозможно изменить пароль"); 
            } 
        } 
    }
}

@{  
    Layout = "/Shared/_Layout.cshtml"; 
    var PageTitle = "Изменение пароля";
}
 
@section scripts {
    <script type="text/javascript" src="@Href("~/js/jquery-1.7.1.min.js")"></script>
}

@section title { 
    @PageTitle 
} 

@section description {
    <h2>@PageTitle</h2>
    <div>Заполните поля формы</div>
} 

<h2>Смена пароля</h2>        
<div class="col_66">
    @Html.ValidationSummary(true) 
        <form action="changePassword" method="post" class="form"> 
            <div class="field"> 
                @Html.Label("Текущий пароль: ", "currentPassword")<br /> 
                @Html.Password("currentPassword",currentPassword) 
                @Html.ValidationMessage("currentPassword") 
            </div> 
            <div class="field"> 
                @Html.Label("Новый пароль: ", "newPassword1")<br /> 
                @Html.Password("newPassword1") 
                @Html.ValidationMessage("newPassword1") 
            </div> 
            <div class="field"> 
                @Html.Label("Повторите новый пароль: ", "newPassword2")<br /> 
                @Html.Password("newPassword2") 
                @Html.ValidationMessage("newPassword2") 
            </div> 
            <div> 
                 <input type="submit" value="Подтвердить" class="button" /> 
            </div> 
        </form>
</div>
<div class="clearfix"></div>